:host {
    // position: absolute;
    // top: 98%;
    // left: 0px;
    width: 100%;
    padding: 6px 15px;
    border-radius: 10px;
    // background-color: white;
    color: white;
    // z-index: 1;

    h3 {
        color: white;
        margin-bottom: 10px;
    }

    p {
        color: white;
        margin: 0px;
        padding: 5px 0px;
        border-bottom: 1px solid #cecece;
        
        display: flex;

        justify-content: space-between;

        &:last-child {
            border-bottom: unset;
        }
    }

    // @media screen and (max-width: 480px) {
    //     left: unset;
    //     right: 0px;
    //     width: calc(100vw - 50px);
    // }
}