header {
  border-bottom: 1px solid #666666;
  height: 102px;
  display: flex;
  align-items: center;
}
header .container {
  max-width: 1325px;
  width: 100%;
  padding: 0px 20px;
}
.innerWrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftContainerHeader {
  display: flex;
  align-items: center;
}
header img {
  width: 88px;
  height: 52px;
}
.selectWrapper {
  width: 147px;
  height: 38px;
  position: relative;
  background: #343434;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  background-size: 10px auto;
  background-position: 90% center;
  background-repeat: no-repeat;
  padding: 0px;
}
.selectWrapper>img {
  width: 17px;
  height: auto;
  margin-right: 12px;
  position: absolute;
  left: 10px;
  margin: auto;
}

/* dashboard header */
header ul {
	padding: 0;
	line-height: normal;
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
}

.selectWrapper select {
  border: none;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background-position: 121px 8px !important;
  padding: 0px 20px 0px 40px;
}
.rightContainerHeader ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.rightContainerHeader a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  border-radius: 38px;
}



@media only screen and (max-width:1100px) {
  .rightContainerHeader {
    display: none;
  }
}




/* dashboard header */
header.dashboardHeader ul {
	padding: 0;
	line-height: normal;
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
}

.rightdashboardHeader li:first-child a {}

a {
	/* width: 31px; */
	/* height: 31px; */
	/* left: 1160px; */
	/* top: 34px; */
	/* background: rgba(255, 255, 255, 0.21); */
}

a.bellIcon {
	width: 31px;
	height: 31px;
	background: rgba(255, 255, 255, 0.21);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.rightdashboardHeader img {
	width: auto;
	max-width: 100%;
	display: block;
	width: 13px;
	height: 13px;
}

header.dashboardHeader ul.subMenuContainer {
	display: none;
}

li.primaryButton {
	margin-left: 12px;
	position: relative;
}

li.primaryButton>a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	border-radius: 50px;
	width: 173px;
	padding: 8px 17px;
	justify-content: flex-start;
	position: relative;
	min-height: 38px;
	height: auto;
}

li.primaryButton>a span {
	height: 80%;
	display: block;
	width: 34px;
	/* background: red; */
	position: absolute;
	right: 0;
	border-left: 0.5px solid #FFFFFF;
}

li.primaryButton>a span::after {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	border: 1px solid #fff;
	position: absolute;
	inset: 0 3px 5px 0;
	margin: auto;
	border-left: 0;
	border-top: 0;
	transform: rotate(45deg);
	margin: auto;
}

.centeredheader li {
	margin: 0px 14px;
}

.centeredheader li a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	display: block;
	position: relative;
	text-decoration: none;
}

.centeredheader li a:after {
	content: "";
	display: block;
	width: 0;
	background: linear-gradient(90.01deg, #BC67DB 0%, #E91F92 100%);
	height: 2px;
	bottom: -5px;
	position: absolute;
	transition: width 0.8s;
}

.centeredheader li.active a:after,
.centeredheader li:hover a:after {
	width: 100%;
}
.boxWrapper {
	min-width: 611px;
	min-height: 473px;
	background: #25282D;
	border-radius: 8px;
	max-width: 611px;
	margin: auto;
	padding: 18px;
}

header.dashboardHeader ul.subMenuContainer {
	width: 208px;
	height: 186px;
	background: #25282D;
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 8px;
	position: absolute;
	top: 100%;
	padding: 17px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-top: 8px;
	right: 0;
	display: none;
}

header.dashboardHeader ul.subMenuContainer.active {
	display: block;
}

ul.subMenuContainer li a.PrimaryButton {
	height: 38px;
}

header.dashboardHeader ul.subMenuContainer li:not(:last-child) {
	margin-bottom: 13px;
}

ul.subMenuContainer li a {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
}
a.bellIcon.active {
	position: relative;
}

.notificationSubMenu {
	position: absolute;
}

.rightdashboardHeader li {
	position: relative;
}

a.bellIcon.active::after {
	width: 6px;
	height: 6px;
	background: #EA7F1D;
	display: block;
	border-radius: 50%;
	content: "";
	position: absolute;
	left: auto;
	z-index: 2;
	bottom: auto;
	right: 0px;
	top: 3px;
}

.notificationSubMenu {
	min-width: 272px;
	min-height: 93px;
	background: #25282D;
	border: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 8px;
	position: absolute;
	right: 0;
	margin-top: 13px;
	padding: 10px 0;
	z-index: 4;
	display: none;
}

.notificationSubMenu h5 {
	margin-bottom: 10px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 194%;
	/* or 23px */
	color: #FFFFFF;
	padding: 0px 13px;
}

.notificationSubMenu p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 194%;
	/* or 19px */
	color: #FFFFFF;
	padding: 0px 13px;
}

.notificationSubMenu.active {
	display: block;
}
.notificationSubMenu.active li a {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	color: #fff;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 194%;
	/* or 19px */
	color: #FFFFFF;
}

.notificationSubMenu.active ul {
	display: block;
}

.notificationSubMenu ul li:nth-child(even) {
	background: #191B1F;
	padding: 5px 13px;
}

.notificationSubMenu ul li:not(:last-child) {
	padding: 6px 13px;
	margin-bottom: 6px;
}

/* toast */


