:host {
    flex: 1 0 0px;
    max-height: 100%;
    overflow-y: hidden;

    .komp-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 0px;
    
        .komp-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            padding: 10px 0px;
    
            h2, h3 {
                margin: 0;
            }
    
            p {
                color: white;
            }
    
            @media screen and (max-width: 480px) {
                width: 50%;
            }
    
            mat-icon {
                font-size: 120;
                transform: scale(2);
                margin: 10px 0px;
            }
        }
    }

}