<footer>
  <div class="container">
      <div class="innerWrapperContainerFooter">
          <div class="row">
              <div class="col">
                  <div class="logoContainerFooter">
                      <img src="../../../../assets/images/2.svg">
                      <p>Making DeFi Tangible</p>
                      <a href="#">support@kompwnd.com</a>
                      <span>@2023 Kompwnd</span>
                      <span>All Rights Reserved</span>
                  </div>
              </div>
              <div class="col">
                  <div class="listItems">
                      <h3>Products</h3>
                      <ul>
                          <li><a href="#">Kompwnd Launch App</a></li>
                          <li><a href="#">Insurance</a></li>
                          <li><a href="#">Prediction Market</a></li>
                          <li><a href="#">Dollor Staking</a></li>
                          <li><a href="#">Swap</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col">
                  <div class="listItems">
                      <h3>About</h3>
                      <ul>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">Ecosystem</a></li>
                          <li><a href="#">Community</a></li>
                          <li><a href="#">FAQs</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col">
                  <div class="listItems">
                      <h3>Help</h3>
                      <ul>
                          <li><a href="#">Helo Center</a></li>
                          <li><a href="#">Security</a></li>
                          <li><a href="#">Legal and privacy</a></li>
                          <li><a href="#">Dollor Staking</a></li>
                          <li><a href="#">Cookie preferences</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col">
                  <div class="listItems">
                      <h3>Follow Us </h3>
                      <ul class="socialMediaIcons">
                          <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
