<div class="depositWrapper">
    <div class="container">
      <div class="innerDepositeWrapper">
        <ul class="breadCrumbs">
          <li>
            <a href="javascript:void(0);" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li>
            <a href="javascript:void(0);">Bonus</a>
          </li>
        </ul>
        <div class="boxWrapperDepost">
          <div class="tableContainer" *ngIf="responseRecieved && detailList.length > 0">
            <table>
              <thead>
                <th></th>
                <th>Username</th>
                <th>Withdrawn</th>
                <th>Level</th>
                <th>Date/Time</th>
                <th>Match Bonus</th>
              </thead>
              <tbody>
                <tr *ngFor="let detail of detailList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{detail?.depositer}}</td>
                  <td>{{detail?.withdrawn_amount_KPW | number : '1.4-4'}} KPW ≈ $ {{detail?.withdrawn_amount_USD | number : '1.2-2'}} USD</td>
                  <td>Level {{detail?.generation}}</td>
                  <td>{{detail.date | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                  <td>{{detail?.amount_KPW | number : '1.4-4'}} KPW ≈ $ {{detail?.amount_USD | number : '1.2-2'}} USD</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="responseRecieved && detailList.length == 0">
            <p class="noDataFound">No Data Found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showLoader">
    <div class="mainLoader">
      <div class="loader3">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
