:host {
  flex: 1 0 0px;
  max-height: 100%;
  overflow-y: hidden;

  select {
    option {
      color: black;
    }
  }

  .linkedin {
    width: 40px;
  }
}

.btn-crypto {
  position: absolute;
  bottom: 20px;
  left: 225px;
}

.btn.btn-white {
  width: 200px;
}

.error-class {
  width: 683px;
  margin: 0 auto;
  text-align: center;
}

.spin-body {
  display: flex;
}
.spin-outer {
  height: 25px; 
  width: 25px; 
  padding: 0;
}
