<div class="fluid-container">
	<div class="row justify-content-md-center">
	  <div class="card">
		<div class="card-body">
		  <!-- <form (ngSubmit)="onSubmit()" class="checkout">
					  <label for="card-info">Pay with card</label>
					  <div id="form-field">
						  <div id="card-info" #cardInfo class="form-control">
						  </div>
					  </div>
					  <button id="submit-button" class="btn btn-white mt-2" type="submit">
						  Pay ${{_totalAmount}}
					  </button>
					  <button class="btn btn-white mt-2 ml-2" type="reset" (click)="onCancel()">
						  Cancel
					  </button>
				  </form> -->
		
		  <form id="payment-form" (ngSubmit)="onSubmit()">
			<div id="payment-element">
			  <!-- Elements will create form elements here -->
			</div>
			
			
			<button id="submit" class="btn btn-white mt-3"  *ngIf="!loading">Submit</button>&nbsp;&nbsp;<spinner *ngIf="loading"></spinner>
			<button (click)="onCancel()" class="btn btn-white mt-3">Cancel</button>
			<div id="error-message">
			  <!-- Display error message to your customers here -->
			  {{cardError}}
			</div>
		  </form>
  
		  <mat-error id="card-errors" role="alert" *ngIf="cardError">
			<mat-icon style="color: #f44336">cancel</mat-icon>
		  </mat-error>
		</div>
	  </div>
	</div>
  </div>
  
  <!-- <form id="payment-form" (ngSubmit)="onSubmit()">
	  <div id="payment-element">
		Elements will create form elements here
	  </div>
	  <button id="submit">Submit</button>
	  <button (click)="onCancel()">Cancel</button>
	  <div id="error-message">
		Display error message to your customers here
	  </div>
  </form>
   -->
  
